@font-face {
    font-family: SkinnyDrip;
    src: url(skinnydrip.ttf) format("truetype");
    src: url(skinnydrip.otf) format("opentype");
    src: url(skinnydrip.woff) format("woff");
    src: url(skinnydrip.woff2) format("woff2");
}

@font-face {
    font-family: AnonymousPro;
    src: url(AnonymousPro.ttf) format("truetype");
    src: url(AnonymousPro.otf) format("opentype");
    src: url(AnonymousPro.woff) format("woff");
    src: url(AnonymousPro.woff2) format("woff2");
}

body {
    margin:0;
    padding: 0;
    background-color: #FAF9F6;
  }
  
  header {
    background-color: rgba(168, 133, 255, 0.583);
    font-size: 2rem;
    font-family: SkinnyDrip;
    text-align: center;
    padding: auto;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    margin-top: 1rem;
    margin-inline: 1rem;
    border-radius: 10rem;
  }


  .container {
    max-width: 60%;
    margin: auto;
    padding: 20px;
  }
  
  input[type="text"] {
    margin-top: 1rem;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 0.5rem 0.5rem  #000000;
    font-family: AnonymousPro;
    background-color: #fefdfa;
  }
  
  button {

    padding: 20px;
    color: #000000;
    background-color: rgb(118, 255, 161);
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
    border-radius: 7rem;
    font-family: AnonymousPro;

  }
  footer {
 background-color: rgba(168, 133, 255, 0.583);
 position: fixed;
 bottom: 0;
 width: 100%;
 padding: 0.5rem 0.5rem 0.5rem 0.5rem;
 font-family: AnonymousPro;
 text-align: justify;
  }
  
  img {
width: 25%;
height: auto;
margin-right: 0%;
margin-left: 70%;
 }

  #response {
    margin-top: 20px;
    font-family: AnonymousPro;
    font-weight: 300;
    font-stretch: expanded;
    line-height: 1.2;
  }
  